<div>
  <div class="well fixed-column-right diag-manual-controls">
    <div class="diag-manual-asset" data-tag="blower.switch">
      <img class="diag-manual-asset-image diag-blower-switch-image" src="/assets/img/switch.svg?value=0">
      <span class="diag-manual-asset-label"><%- t('diagnostics', 'BLOWER_SWITCH') %></span>
    </div>
    <div class="diag-manual-asset-group">
      <div class="diag-manual-asset" data-tag="blower.status">
        <img class="diag-manual-asset-image diag-blower-status-image" src="/assets/img/led.svg?color=grey">
        <span class="diag-manual-asset-label"><%- t('diagnostics', 'BLOWER_STATUS') %></span>
      </div><div class="diag-manual-asset" data-tag="blower.failure">
        <img class="diag-manual-asset-image diag-blower-failure-image" src="/assets/img/led.svg?color=grey" data-on-color="red">
        <span class="diag-manual-asset-label"><%- t('diagnostics', 'BLOWER_FAILURE') %></span>
      </div>
    </div>
    <hr>
    <div class="diag-state-switch make-switch switch-large btn-block"
         data-tag="blower.state"
         data-text-label="<%- t('diagnostics', 'STATE_SWITCH_LABEL') %>"
         data-on-label="<%- t('diagnostics', 'STATE_SWITCH_LABEL_ON') %>"
         data-off-label="<%- t('diagnostics', 'STATE_SWITCH_LABEL_OFF') %>"
         data-on="success"
         data-off="danger">
      <input type="checkbox">
    </div>
    <div class="diag-mode-switch make-switch switch-large btn-block"
         data-tag="blower.mode"
         data-text-label="<%- t('diagnostics', 'MODE_SWITCH_LABEL') %>"
         data-on-label="<%- t('diagnostics', 'MODE_SWITCH_LABEL_ON') %>"
         data-off-label="<%- t('diagnostics', 'MODE_SWITCH_LABEL_OFF') %>"
         data-on="primary"
         data-off="warning">
      <input type="checkbox">
    </div>
    <hr>
    <button class="btn btn-large btn-block diag-manual-button diag-control-button" data-tag="blower.control">
      <img class="diag-manual-button-image diag-blower-control-image" src="/assets/img/led.svg?color=grey">
      <span class="diag-manual-button-label"><%- t('diagnostics', 'BLOWER_CONTROL_BUTTON') %></span>
      <i class="icon-spinner icon-spin"></i>
    </button>
  </div>
  <div class="fluid-column-right diag-el-container">
    <svg width="100%" height="100%" viewBox="0 0 600 350" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <%- renderPathEnding({dir: 'lr', type: null}) %>
        <%- renderPathEnding({dir: 'lr', type: 'air'}) %>
        <%- renderPathEnding({dir: 'lr', type: 'rawWater'}) %>
        <%- renderPathEnding({dir: 'lr', type: 'dirtyWater'}) %>
        <%- renderPathEnding({dir: 'lr', type: 'cleanWater'}) %>
        <%- renderPathEnding({dir: 'rl', type: null}) %>
        <%- renderPathEnding({dir: 'rl', type: 'air'}) %>
        <%- renderPathEnding({dir: 'rl', type: 'rawWater'}) %>
        <%- renderPathEnding({dir: 'rl', type: 'dirtyWater'}) %>
        <%- renderPathEnding({dir: 'rl', type: 'cleanWater'}) %>
      </defs>

      <path class="el-path diag-blower-path" d="M 522 300 h -169 v -125 h -50 m 50 125 h -186 v -125 h -50" />

      <rect id="<%- idPrefix %>-v12-left" class="diag-path-ending" data-dir="rl" x="33" y="87" width="50" height="4" />
      <rect id="<%- idPrefix %>-v12-right" class="diag-path-ending" data-dir="lr" x="117" y="87" width="52" height="4" />
      <rect id="<%- idPrefix %>-v14-left" class="diag-path-ending" data-dir="rl" x="33" y="173" width="50" height="4" />

      <rect id="<%- idPrefix %>-v22-left" class="diag-path-ending" data-dir="rl" x="219" y="87" width="50" height="4" />
      <rect id="<%- idPrefix %>-v22-right" class="diag-path-ending" data-dir="lr" x="303" y="87" width="52" height="4" />
      <rect id="<%- idPrefix %>-v24-left" class="diag-path-ending" data-dir="rl" x="219" y="173" width="50" height="4" />

      <rect class="diag-path-ending diag-path-ending-lr diag-blower-air-path" x="105" y="72" width="64" height="4" />
      <rect class="diag-path-ending diag-path-ending-lr diag-blower-air-path" x="105" y="158" width="64" height="4" />
      <rect class="diag-path-ending diag-path-ending-lr diag-blower-air-path" x="291" y="72" width="64" height="4" />
      <rect class="diag-path-ending diag-path-ending-lr diag-blower-air-path" x="291" y="158" width="64" height="4" />

      <g class="el-blower diag-blower-symbol" transform="translate(550, 300)">
        <circle r="28" cx="0" cy="0" />
        <path d="M -27 -7 L 23 -17 M -27 7 L 23 17" />
      </g>

      <g transform="translate(406, 292)">
        <g class="el-valve el-valve-left" transform="translate(0, 0)">
          <path d="M 0 0 L 0 16 L 16 8 Z" />
          <path d="M 32 0 L 32 16 L 16 8 Z" />
        </g>
        <g class="el-valve" transform="translate(32, 0)">
          <path d="M 0 0 L 0 16 L 16 8 Z" />
          <path d="M 32 0 L 32 16 L 16 8 Z" />
        </g>
      </g>

      <text x="99" y="30" text-anchor="middle"><%- t('diagnostics', 'BLOWER_FILTER_SET1') %></text>
      <text x="285" y="30" text-anchor="middle"><%- t('diagnostics', 'BLOWER_FILTER_SET2') %></text>
      <text x="550" y="266" text-anchor="middle"><%- t('diagnostics', 'BLOWER_SYMBOL') %></text>

      <g class="el-valve" transform="translate(84, 81)" data-tag="filterSets.1.valves.2.status">
        <path d="M 0 0 L 0 16 L 16 8 Z"></path>
        <path d="M 32 0 L 32 16 L 16 8 Z"></path>
        <path d="M 16 8 v -10 a 5 -5 0 0 0 0 -10 a 5 5 0 0 0 0 10"></path>
        <text x="15" y="34" text-anchor="middle"><%- t('diagnostics', 'BLOWER_FILTER_SET_V2') %></text>
      </g>

      <g class="el-valve" transform="translate(84, 167)" data-tag="filterSets.1.valves.4.status">
        <path d="M 0 0 L 0 16 L 16 8 Z"></path>
        <path d="M 32 0 L 32 16 L 16 8 Z"></path>
        <path d="M 16 8 v -10 a 5 -5 0 0 0 0 -10 a 5 5 0 0 0 0 10"></path>
        <text x="15" y="34" text-anchor="middle"><%- t('diagnostics', 'BLOWER_FILTER_SET_V4') %></text>
      </g>

      <g class="el-valve" transform="translate(270, 81)" data-tag="filterSets.2.valves.2.status">
        <path d="M 0 0 L 0 16 L 16 8 Z"></path>
        <path d="M 32 0 L 32 16 L 16 8 Z"></path>
        <path d="M 16 8 v -10 a 5 -5 0 0 0 0 -10 a 5 5 0 0 0 0 10"></path>
        <text x="15" y="34" text-anchor="middle"><%- t('diagnostics', 'BLOWER_FILTER_SET_V2') %></text>
      </g>

      <g class="el-valve" transform="translate(270, 167)" data-tag="filterSets.2.valves.4.status">
        <path d="M 0 0 L 0 16 L 16 8 Z"></path>
        <path d="M 32 0 L 32 16 L 16 8 Z"></path>
        <path d="M 16 8 v -10 a 5 -5 0 0 0 0 -10 a 5 5 0 0 0 0 10"></path>
        <text x="15" y="34" text-anchor="middle"><%- t('diagnostics', 'BLOWER_FILTER_SET_V4') %></text>
      </g>

      <rect class="el-group" x="210" y="2" width="154" height="208" />
      <rect class="el-group" x="24" y="2" width="154" height="208" />

      <g data-tag="compressorPressure" />
    </svg>
  </div>
</div>
