<div class="form-horizontal diag-settings">
  <hr>
  <div class="control-group">
    <label class="control-label" for="settings-inputPumps-nextAfterTimeInMin"><%- t('diagnostics', 'SETTINGS:inputPumps.nextAfterTimeInMin') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-inputPumps-nextAfterTimeInMin" class="span2" type="number" name="inputPumps.nextAfterTimeInMin" required min="0" max="3600" step="1" autofocus>
        <span class="add-on">s</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="control-group">
    <label class="control-label diag-settings-header" for="settings-inputPumps-1-depth-offset">
      <a href="#diagnostics/input-pumps/1"><%- t('diagnostics', 'SETTINGS_INPUT_PUMP_HEADER', {id: 1}) %></a>
    </label>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-inputPumps-1-depth-offset"><%- t('diagnostics', 'SETTINGS:inputPumps.n.depth.offset') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-inputPumps-1-depth-offset" class="span2" type="number" name="inputPumps.1.depth.offset" required min="0" max="100" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-inputPumps-1-depth"><%- t('diagnostics', 'SETTINGS:inputPumps.n.depth') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-inputPumps-1-depth" class="span2" type="number" name="inputPumps.1.depth" required min="0" max="100" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-inputPumps-1-depth-sensor"><%- t('diagnostics', 'SETTINGS:inputPumps.n.depth.sensor') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-inputPumps-1-depth-sensor" class="span2" type="number" name="inputPumps.1.depth.sensor" required min="0" max="100" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-inputPumps-1-dryRunWaterLevel"><%- t('diagnostics', 'SETTINGS:inputPumps.n.dryRunWaterLevel') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-inputPumps-1-dryRunWaterLevel" class="span2" type="number" name="inputPumps.1.dryRunWaterLevel" required min="0" max="100" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="control-group">
    <label class="control-label diag-settings-header" for="settings-inputPumps-2-depth-offset">
      <a href="#diagnostics/input-pumps/2"><%- t('diagnostics', 'SETTINGS_INPUT_PUMP_HEADER', {id: 2}) %></a>
    </label>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-inputPumps-2-depth-offset"><%- t('diagnostics', 'SETTINGS:inputPumps.n.depth.offset') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-inputPumps-2-depth-offset" class="span2" type="number" name="inputPumps.2.depth.offset" required min="0" max="100" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-inputPumps-2-depth"><%- t('diagnostics', 'SETTINGS:inputPumps.n.depth') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-inputPumps-2-depth" class="span2" type="number" name="inputPumps.2.depth" required min="0" max="100" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-inputPumps-2-depth-sensor"><%- t('diagnostics', 'SETTINGS:inputPumps.n.depth.sensor') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-inputPumps-2-depth-sensor" class="span2" type="number" name="inputPumps.2.depth.sensor" required min="0" max="100" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-inputPumps-2-dryRunWaterLevel"><%- t('diagnostics', 'SETTINGS:inputPumps.n.dryRunWaterLevel') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-inputPumps-2-dryRunWaterLevel" class="span2" type="number" name="inputPumps.2.dryRunWaterLevel" required min="0" max="100" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <hr>
</div>
