<div class="form-horizontal diag-settings">
  <hr>
  <div class="control-group">
    <label class="control-label diag-settings-header" for="settings-reservoirs-1-height"><%- t('diagnostics', 'SETTINGS_RESERVOIR_HEADER', {id: 1}) %></label>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-reservoirs-1-height"><%- t('diagnostics', 'SETTINGS:reservoirs.n.height') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-reservoirs-1-height" class="span2" type="number" name="reservoirs.1.height" required min="0" max="10" step="0.1" autofocus>
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-reservoirs-1-waterLevel-min"><%- t('diagnostics', 'SETTINGS:reservoirs.n.waterLevel.min') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-reservoirs-1-waterLevel-min" class="span2" type="number" name="reservoirs.1.waterLevel.min" required min="0" max="10" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-reservoirs-1-waterLevel-max"><%- t('diagnostics', 'SETTINGS:reservoirs.n.waterLevel.max') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-reservoirs-1-waterLevel-max" class="span2" type="number" name="reservoirs.1.waterLevel.max" required min="0" max="10" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="control-group">
    <label class="control-label diag-settings-header" for="settings-reservoirs-2-height"><%- t('diagnostics', 'SETTINGS_RESERVOIR_HEADER', {id: 2}) %></label>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-reservoirs-2-height"><%- t('diagnostics', 'SETTINGS:reservoirs.n.height') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-reservoirs-2-height" class="span2" type="number" name="reservoirs.2.height" required min="0" max="10" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-reservoirs-2-waterLevel-min"><%- t('diagnostics', 'SETTINGS:reservoirs.n.waterLevel.min') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-reservoirs-2-waterLevel-min" class="span2" type="number" name="reservoirs.2.waterLevel.min" required min="0" max="10" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="settings-reservoirs-2-waterLevel-max"><%- t('diagnostics', 'SETTINGS:reservoirs.n.waterLevel.max') %></label>
    <div class="controls">
      <div class="input-append">
        <input id="settings-reservoirs-2-waterLevel-max" class="span2" type="number" name="reservoirs.2.waterLevel.max" required min="0" max="10" step="0.1">
        <span class="add-on">m</span>
      </div>
    </div>
  </div>
  <hr>
</div>
