<div>
  <div class="well fixed-column-right diag-manual-controls">
    <div class="diag-state-switch make-switch switch-large btn-block"
         data-tag="uvLamp.state"
         data-text-label="<%- t('diagnostics', 'STATE_SWITCH_LABEL') %>"
         data-on-label="<%- t('diagnostics', 'STATE_SWITCH_LABEL_ON') %>"
         data-off-label="<%- t('diagnostics', 'STATE_SWITCH_LABEL_OFF') %>"
         data-on="success"
         data-off="danger">
      <input type="checkbox">
    </div>
    <div class="diag-mode-switch make-switch switch-large btn-block"
         data-tag="uvLamp.mode"
         data-text-label="<%- t('diagnostics', 'MODE_SWITCH_LABEL') %>"
         data-on-label="<%- t('diagnostics', 'MODE_SWITCH_LABEL_ON') %>"
         data-off-label="<%- t('diagnostics', 'MODE_SWITCH_LABEL_OFF') %>"
         data-on="primary"
         data-off="warning">
      <input type="checkbox">
    </div>
    <hr>
    <button class="btn btn-large btn-block diag-manual-button diag-control-button" data-tag="uvLamp.control">
      <img class="diag-manual-button-image diag-uvLamp-control-image" src="/assets/img/led.svg?color=grey">
      <span class="diag-manual-button-label"><%- t('diagnostics', 'UV_LAMP_CONTROL_BUTTON') %></span>
      <i class="icon-spinner icon-spin"></i>
    </button>
  </div>
  <div class="fluid-column-right diag-el-container">
    <svg width="100%" height="100%" viewBox="0 0 470 175" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <%- renderPathEnding({dir: 'lr', type: null}) %>
        <%- renderPathEnding({dir: 'lr', type: 'cleanWater'}) %>
        <%- renderPathEnding({dir: 'rl', type: null}) %>
        <%- renderPathEnding({dir: 'rl', type: 'cleanWater'}) %>
      </defs>

      <text x="135" y="28" text-anchor="middle"><%- t('diagnostics', 'UV_LAMP_SYMBOL') %></text>
      <text x="339" y="75" text-anchor="middle"><%- t('diagnostics', 'UV_LAMP_OUTPUT_FLOW_METER_SYMBOL') %></text>
      <text x="339" y="136" text-anchor="end"><%- t('diagnostics', 'UV_LAMP_OUTPUT_FLOW') %></text>
      <text x="339" y="160" text-anchor="end"><%- t('diagnostics', 'UV_LAMP_OUTPUT_FLOW_TOTAL') %></text>
      <text x="345" y="136" text-anchor="start" data-tag="outputFlow" data-unit="m3/h">0.0 m3/h</text>
      <text x="345" y="160" text-anchor="start" data-tag="outputFlow.total.forwards" data-unit="m3">0.0 m3</text>

      <path class="el-path" d="M 60 102 h 330" />

      <rect class="diag-path-ending diag-path-ending-rl" x="0" y="100" width="64" height="4" />
      <rect class="diag-path-ending diag-path-ending-lr" x="389" y="100" width="64" height="4" />

      <g class="el-uvLamp diag-uvLamp-symbol" transform="translate(100, 100)">
        <path d="M 0 0 v -50 h 15"></path>
        <rect x="15" y="-60" width="42" height="20"></rect>
        <path d="M 57 -50 h 15 v 50"></path>
        <path class="el-uvLamp-valve" d="M 0 0 L 0 16 L 16 8 Z M 32 0 L 32 16 L 16 8 Z" transform="translate(4, -30) scale(.5) rotate(90)"></path>
        <path class="el-uvLamp-valve" d="M 0 0 L 0 16 L 16 8 Z M 32 0 L 32 16 L 16 8 Z" transform="translate(76, -30) scale(.5) rotate(90)"></path>
      </g>

      <g class="el-valve" transform="translate(120, 94)">
        <path d="M 0 0 L 0 16 L 16 8 Z"></path>
        <path d="M 32 0 L 32 16 L 16 8 Z"></path>
      </g>

      <g class="el-flowMeter" transform="translate(400, 110) rotate(90)">
        <circle r="12" cx="-8" cy="61"></circle>
        <path d="M 7 76 L -23 46 h 7 m -7 0 v 7"></path>
        <path d="M 2 34 h -20 M 2 88 h -20"></path>
      </g>
    </svg>
  </div>
</div>
