<!DOCTYPE html>
<html<% if (appCacheManifest) { %> manifest="<%- appCacheManifest %>"<% } %>>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <base href="/">
  <title>walkner-hydro</title>
  <link rel="stylesheet" href="<%- mainCssFile %>">
</head>
<body>
<div id="app-loading"><i class="fa fa-spinner fa-spin"></i></div>
<div id="app-viewport"></div>
<script>
<% Object.keys(appData).forEach(function(key) { %>
window.<%- key %> = <%- appData[key] %>;
<% }) %>
</script>
<script src="config.js"></script>
<script src="vendor/require/require.js"></script>
<script src="<%- mainJsFile %>"></script>
</body>
</html>
